{% extends "template.html" %}

{% block page_title %} Create Article {% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/fonts/ionicons.min.css">
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
<link rel="stylesheet" href="/static/css/quill.bubble.css">




{% endblock stylesheets %}

{% block content %}


<form class="form-horizontal" method="post">
<fieldset>
<center>
<!-- Form Name -->
<legend>Create Article</legend>
</center>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Heading">Heading</label>  
  <div class="col-md-8">
  <input id="Heading" name="Heading" type="text" placeholder="Heading text Here" class="form-control input-md" required="">
  <span class="help-block">Enter Heading text here</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="sub-heading">Sub-Heading</label>  
  <div class="col-md-8">
  <input id="sub-heading" name="sub-heading" type="text" placeholder="Sub Heading Text here" class="form-control input-md" required="">
  <span class="help-block">Enter Sub Heading Text above</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="category">Categorie(s)</label>  
  <div class="col-md-8">
  <input id="category" name="category" type="text" placeholder="Enter Category(s) Here" class="form-control input-md" required="">
  <span class="help-block">Enter Category(s) above</span>  
  </div>
</div>


<!--Div that will have quill injected into it-->
<div id="editor" style="text-align: center; min-height: 800px;">
</div>

<input type="hidden" id="content" name="content">

</br>
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-8">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>

</form>

{% endblock content %}

{% block scripts %}
<script src="/static/js/quill/quill.js"></script>
<script src="/static/js/jquery.min.js"></script>

<!--Setting up quill editor-->
<script>
// Set up editing options available
var toolbarOptions = [
  [{ 'font': [] }],
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
  ['bold', 'italic', 'underline', 'strike'],
  ['blockquote', { 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      
  [{ 'background': [] }],          
  ['clean']                                         // remove formatting button
];

var chosen_theme = (window.screen.width > 736) ? "snow": "bubble"; // Set theme based on screen resolution

// Convert editor div to quill object
var quill = new Quill('#editor', {
  modules: {
    toolbar: toolbarOptions  // Include button in toolbar
  },
  theme: chosen_theme
});


var form = document.querySelector('form');
form.onsubmit = function() {
  // Populate hidden form on submit
  var content = document.querySelector('input[name=content]');
  // content.value = JSON.stringify(quill.getContents());
  content.value = quill.container.firstChild.innerHTML
  
  console.log("Submitted", $(form).serialize(), $(form).serializeArray());
};
</script>
{% endblock scripts %}

{% block shameless_plug %}
{% endblock shameless_plug %}
