{% extends "template.html" %}

{% block page_title %} Home {% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/fonts/ionicons.min.css">
<link rel="stylesheet" href="/static/css/styles.css">
<link rel="stylesheet" href="/static/css/quill.snow.css">
{% endblock stylesheets %}

{% block content %}
<center>
<div id="editor" style="text-align: center;">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>
</center>

{% endblock content %}

{% block scripts %}
<script src="/static/js/quill/quill.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<script>
  var quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>
{% endblock scripts %}

{% block shameless_plug %}
{% endblock shameless_plug %}

